<%= form_with url: login_path, method: :post, html: { class: 'space-y-6', 'data-turbo-action': 'replace' } do |form| %>
  <div>
    <%= form.label :email %>
    <div class="mt-1">
      <%= form.text_field :email, type: 'email', autocomplete: 'username', required: true %>
    </div>
  </div>

  <div class="space-y-1">
    <%= form.label :password %>
    <div class="mt-1">
      <%= form.password_field :password, autocomplete: 'current-password', required: true %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <%= form.check_box :remember %>
      <%= form.label :remember, "Ricorda l'accesso", class: 'ml-2' %>
    </div>

    <div class="text-sm">
      <%= link_to 'Password dimenticata?', new_password_reset_path, class: 'font-medium text-primary-600 hover:text-primary-500' %>
    </div>
  </div>

  <div>
    <%= form.submit 'Accedi', id: :login, 'data-turbo-submits-with': 'Accesso in corso' %>
  </div>
<% end %>
