<div>
  <div class="relative h-120 w-80 bg-blue-600 rounded-2xl"
       data-controller="audio-effect"
       data-audio-effect-src-value="<%= audio_path('flipcard.wav') %>"
       data-audio-effect-volume-value="0.1"
       data-action="click->audio-effect#play">
    <img class="h-full w-full"
         src="<%= image_url %>" alt="<%= card_name %>"
         data-card-target="artwork">

    <div class="absolute top-0 right-0 mt-2 mr-10 p-1 bg-white rounded-lg justify-center items-center flex"
         data-card-target="power">
      <p class="text-black text-3xl font-bold font-roboto text-center leading-[1.5rem]">
        <%= card_power %>
      </p>
    </div>

    <div class="absolute top-0 left-0 mt-2 ml-2 h-11 w-11 rounded-full bg-<%= card_color %>-600 justify-center items-center flex"
         data-card-target="power">
      <p class="text-white text-4xl font-bold font-roboto text-center">
        <%= card_cost %>
      </p>
    </div>
  </div>
</div>
