<%#
# Image Form Partial

This partial renders an input element for image attributes.
By default, the input is a text field for the image's URL.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Image][1].
  A wrapper around the image url pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Image
%>

<div class="form-group" data-controller="change-callback"
     data-change-callback-url-value="<%= change_callback_url %>"
     data-change-callback-param-value="<%= change_callback_param %>">
  <%= form.label field.attribute %>
  
  <% if field.attached? %>
    <% field.attachments.each do |attachment| %>
      <div class="attachments-listing">
        <%= render Administrate::Field::ActiveStorage::Item::Component.new(field:, attachment:, preview_options: field.show_preview_options) %>
      </div>
    <% end %>
  <% end %>

  <div class="mt-1 relative rounded-md shadow-sm">
    <%= form.file_field field.attribute, multiple: field.many?, direct_upload: field.direct?, 'data-action': 'change-callback#propagate:stop:prevent' %>

    <% if field.error? %>
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
        <%= inline_svg_tag 'heroicons/24/solid/exclamation-circle.svg', class: 'h-5 w-5 text-red-500' %>
      </div>
    <% end %>
  </div>

  <%= form.hint field.attribute %>
  <%= form.error_message field.attribute %>
</div>
