<div>
  <%= inline_svg_tag 'brand_logo.svg', class: 'h-20 w-auto text-primary-500', alt: I18n.t('app.name') %>
  <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Scegli una nuova password</h2>
</div>

<div class="mt-8">
  <%= form_for @user, url: password_reset_path(@token), method: :put, html: { class: 'space-y-6', 'data-turbo-action': "replace" } do |f| %>
    <%= render Auth::Form::ErrorsSummary::Component.new(resource: @user) %>

    <div class="mt-1">
      <%= f.label :password %>
      <div class="mt-1">
        <%= f.password_field :password, required: true %>
      </div>
    </div>

    <div class="space-y-1">
      <%= f.label :password_confirmation %>
      <div class="mt-1">
        <%= f.password_field :password_confirmation, required: true %>
      </div>
    </div>

    <div>
      <%= f.submit 'Reimposta password', id: :login, 'data-turbo-submits-with': 'Reimpostazione in corso' %>
    </div>
  <% end %>
</div>
