<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-white">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="environment" content="<%= Rails.env %>">

    <title><%= application_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
  </head>
  <body class="h-full">
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
